# Local bind mount source path for the server files
HOST_LEFT4DEAD2_PATH=/opt/docker/L4D2

# Server port
SRCDS_PORT=27025

# GHCR image tag to use
IMAGE_TAG=latest

# Game-specific environment
COLLECTIONS="2787147130 2805134338"
SERVER_NAME="Left4Friends 1 - Be Kind"

# Optional UID/GID for mounted files
UID=1000
GID=1000
